<app-header></app-header>

<h1>Album Details</h1>
<div *ngIf="album" class="detail-container">
    <mat-card class="detail-wrapper">
        <div class="crop-image">
          <img [src]="album.coverUrl" alt="">
          <div class="action-btns">
            <div>
              <button [routerLink]="['/albums/edit', album._id]">
                <mat-icon class="edit">
                  edit
                </mat-icon>
              </button>
              <button (click)="deleteAlbum(album._id)">
                <mat-icon class="delete">
                  delete
                </mat-icon>
              </button>
            </div>
            <button mat-raised-button routerLink="/albums">Go back</button>
          </div>
        </div>

        <ul>
            <li>Title: {{album.title}}</li>
            <li>Year: {{album.year}}</li>
            <li>Genre: {{album.genre}}</li>
        </ul>
     
    </mat-card>
</div>